body {
    background-color: #C1FFD7 ;
}
hr {
    margin-top: 50px;
    margin-bottom: 50px;
    border-width: 15px;
    border-style: none;
    border-top-style: dotted;
    width: 30%;
    border-color: #79B4B7;
}
h1, h2, h3 {
    text-align: center;

}
ol{
    display: :block;
    max-width: 500px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
}

li{
    display: block;
    max-width: 500px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
}

image { 
    display: block;
    max-width: 500px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
}

p{
    display: block;
    max-width: 500px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
}
#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(148, 194, 224);
    position: sticky;
    top: 0;

}

#navbar li {
    float: left;
}

#navbar a{
    display: block;
    color: white;
    text-align: center;
    padding:  14px 16px;
    text-decoration: none;
}
.last-child {
    float: right;
}

#hover {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
}

table, tr, td {
    border: 1px solid #907FA4;
}
table {
    max-width: 500px;
    margin: 0 auto;
    border-collapse: collapse;
}

th,td {
    padding: 15px;
    text-align: left;
}

tr:hover {
    background-color: #A58FAA;
}

.footer {
    background-color: #A0937D;
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.form-register {
    position: static;
    margin-bottom: 100px;
}
.content-form {
    max-width: 70%;
    margin: auto;
}
.form-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin-bottom: 100px;
}
.form-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.my-portofolio {
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.my-portofolio img{
    box-sizing: border-box;
    width: 33.33%;
    padding: 25px;
}